:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --Font-size-paragraph: 15px;
  --Mobile: 375px;
  --Desktop: 1440px;
}

body {
  box-sizing: border-box;
  width: (max-content=var(--Mobile));
  background-color: var(--Light-gray);
  font-size: var(--Font-size-paragraph);
  font-family: Outfit, Arial, Helvetica, sans-serif;
}


h1 {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-weight: 700;
}

img {
  max-width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section {
  position: relative;
  margin-top: 50%;
}

.card {
  width: 320px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--White);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card__img {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.card__texto {
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
  font-size: var(--Font-size-paragraph);
  color: var(--Grayish-blue);
  text-align: center;
}

/* Pie de pagina */
.attribution {
  position: absolute;
  width: 100%;
  bottom: 2px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}